/* Weather */
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 0%, 95%);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weatherForm {
  margin: 20px;
}

.cityInput{
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid hsla(0, 0%, 20%, 0.3);
  border-radius: 10px;
  margin: 10px;
  width: 300px;
}
button[type="submit"]{
  padding: 10px 20px;
  font-weight: bold;
  font-size: 2rem;
  background-color: hsl(122, 39%, 50%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button[type="submit"]:hover{
  background-color: hsl(122, 39%, 40%);
}
.card{
  background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(39, 100%, 75%));
  padding: 50px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.508);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 25px;

}

p{
  font-size: 1.5rem;
  margin: 5px 0;
}

.cityDisplay, .tempDisplay{
  font-size: 3.5rem;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.755);
  margin-bottom: 25px;
}
.humidityDisplay{
  font-weight: bold;
  margin-bottom: 25px;
}
.descDisplay{
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
}

.weatherEmoji{
  margin:0;
  font-size: 7.5rem;
}
.errorDisplay{
  font-size: 2.5rem;
  font-weight: bold;
  color:rgba(0, 0, 0, 0.753);
}




/* Slider */
/* body{
  margin: 0;
}
.slider{
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slider img{
  display: none;
  width: 100%;
}
img.displaySlide{
  width: 100%;
  display: block;
  animation-name: fade;
  animation-duration: 2s;
}
.slider button{
  position: absolute;
  top: 50%;
  transform: translateY(-30%);
  background-color: hsla(0, 0%, 0%, 0.486);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 10px;
}

.prev{
  left: 0;
}
.next{
  right: 0;
}

@keyframes fade{
  from{opacity: 0.6}
  to{opacity: 1;}

} */

/* .slider{
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider img{
  width: 100%;
  display: none;
}

img.displaySlide{
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}
.slider button{
  position: absolute;
  top: 50%;
  background-color: hsla(0, 0%, 0%, 0.5);
  color: white;
  font-size: 2rem;
  padding: 10px;
  border: 0;
  border-radius: 2px;
  transform: translateY(-50%);
  cursor: pointer;
}
.prev{
  left: 0;
  margin-left: 10px;
}
.next{
  right: 0;
  margin-right: 10px;
}

@keyframes fade{
  from{opacity: .5;}
  to {opacity: 1;}
} */
/* Rock - Paper - Scissors */
/* body{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  font-size: 3.5rem;
  color: hsl(0, 0%, 20%);
}
.choices{
  margin-bottom: 30px;
}
.choices button{
  font-size: 7.5rem;
  min-width: 160px;
  margin: 0 10px;
  border-radius: 250px;
  background-color: hsl(200, 100%, 50%);
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.choices button:hover{
  background-color: hsl(200, 100%, 70%);;
}
#playerDisplay, #displayDisplay{
  font-size: 2.5rem;
}
#resultDisplay{
  font-size: 5rem;
  margin: 30px 0;
}
#score{
  font-size: 2rem;
}
.greenText, #playScore{
  color: green;
}
.redText, #computerScore{
  color: red;
} */



/* body{
  margin: 0;
}
#btn{
  color: white;
  margin: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
.new{
  background-color: aqua;
  font-size: 4rem;
} */
/* #myBox{
  background-color: lightblue;
  width: 300px;
  height: 200px;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
} */



/* .box{
  border: 3px solid;
  width: 100%;
  height: 125px;
} */

/* #fruits{
  border: 3px solid;
} */



/* body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
}
#container{
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  border: none;
  max-width: 500px;
  overflow: hidden;
}
#display{
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  background-color: hsl(0, 0%, 20%);
  color: white;
}
#key{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}
button{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover{
  background-color: hsl(0, 0%, 40%);
}
button:active{
  background-color: hsl(0, 0%, 50%);
}
.operatorBtn{
  background-color: hsl(35, 100%, 55%);
}
.operatorBtn:hover{
  background-color: hsl(35, 100%, 65%);
}
.operatorBtn:active{
  background-color: hsl(35, 100%, 75%);
} */


/* StopWatch */
/* body{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 90%);
}
#myH1{
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 25%);
}
#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  background-color: white;
}
#display{
  font-size: 5rem;
  font-family: monospace;
  text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 75%);
  margin-bottom: 25px;
}
#controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}
#start{
  background-color: hsl(115, 100%, 40%);
}
#start:hover{
  background-color: hsl(115, 100%, 30%);
}
#stop{
  background-color: hsl(10, 90%, 50%);
}
#stop:hover{
  background-color: hsl(10, 90%, 40%);
}
#reset{
  background-color: hsl(205, 90%, 60%);
}
#reset:hover{
  background-color: hsl(205, 90%, 50%);
} */



/* clock */
/* body{
  margin: 0;
  background-color: aquamarine;
}
#clock-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#clock{
  font-family: monospace;
  font-size: 6.5rem;
  font-weight: bold;
  text-align: center;
  
} */



/* #container{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: bold
}

button{
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: hsl(210, 100%, 50%);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
button:hover{
  background-color: hsl(210, 100%, 60%);
}
button:hover{
  background-color: hsl(210, 100%, 70%);
}

input{
  font-size: 2rem;
  width: 150px;
  text-align: center;
  font-weight: bold;
}
#diceResult{
  margin: 25px;
}
#diceImage{
  width: 150px;
  margin: 5px;
} */