body{
  margin: 0%;
}

.box1{
  width: 250px;
  height: 250px;
  border: 5px solid;
  font-size: 13em; 
  text-align: center;
  background-color: hsl(120, 100%, 70%);
  animation-name: rotate;
  animation-duration: 2s;
}
@keyframes slideRight{
  from{transform: translateX(100%);}
}
@keyframes rotate{
  50%{transform: rotate(360deg);}
}



/* flex */
/* .container{
  display: flex;
  border: 10px solid black;
  
  height: 90vh;
  
}

.box{
  font-size: 5rem;
  border-radius: 15px;
  text-align: center;
  width: 100px;
  height: 100px;

}
#box1{
  background-color: hsl(0, 100%, 70%);
  align-self: center;
}
#box2{
  background-color: hsl(52, 100%, 70%);
}
#box3{
  background-color: hsl(111, 100%, 70%);
}
#box4{
  background-color: hsl(201, 100%, 70%);
} */


/* icons */
/* .icon{
  text-align: center;
}
.fa-solid{
  color: aqua;
}

.fa-brands.fa-twitter.fa-5x{
  color: blue;
}
.fa-brands.fa-youtube.fa-5x{
  color: blueviolet;
} */


/* interactive */
/* .gallery{
  display: inline-block;
  border: 1px solid hsl(0, 0%, 60%);
  margin: 5px;
  width: 200px;
}

.gallery .descrition{
  padding: 10px;
  text-align: center;
}

.gallery:hover{
  border: 1px solid hsl(0, 0%, 20%);
}

.gallery img{
  width: 100%;
  height: auto;
} */


/* semantic tags */
/* *{
  box-sizing: border-box;
}
body{
  margin: 0px;

}
header{
  background-color: antiquewhite;
  text-align: center;
  padding: 25px;
}

.navbar{
  background-color: aqua;
  height: 40px;
}
aside{
  width: 20%;
  float: left;
  padding: 10px;
}
section{
  width: 40%;
  float: left;
  padding: 10px;
}
article{
  width: 40%;
  float: left;
  padding: 10px;
}
footer{
  display: block;
  clear: both;
  background-color: rgb(215, 250, 231);
  text-align: center;
  padding: 25px;
}
@media screen and (max-width:600px) {
  aside, section, article{
    width: 100%;
  }
} */





/* navbar */
/* h1{
  text-align: center;
}
main{
  margin-left: 20px;
  margin-right: 20px;
}

.navbar ul{
  list-style-type: none;
  
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover{
  background-color: hsl(0, 0%, 10%);
}

.navbar li{
  float: left;
  background-color: hsl(0, 0%, 25%);
  margin-left: 1px;
  padding: 0px 10px;
  width: 20%;
  min-width: 10%;
} */






/* dropdown */
/* .dropdown{
  display: inline-block;
}
.dropdown button{
  background-color: aqua;
  color: blue;
  border: none;
  cursor: pointer;
}

.dropdown a{
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}

.dropdown .content{
  display: none;
  position: absolute;
  background-color: antiquewhite;
  min-width: 100px;
  box-shadow: 2px 2px 5px hsls(0, 0%, 0%, 0.8);
}
.dropdown:hover .content{
  display: block;
}

.dropdown:hover button{
  background-color: blueviolet;
}

.dropdown a:hover{
  background-color: brown;
} */




/* pagination */
/* .page{
  text-align: center;
}
.page a{
  color: black;
  text-decoration: none;
  padding: 8px 15px;
  display: inline-block;
}
.page a.active{
  background-color: hsl(120, 72%, 62%);
  font-weight: bold;
  border-radius: 5px;
}
.page a:hover:not(.active){
  background-color: hsl(0, 0%, 62%) ;
  border-radius: 5px;
} */

/* pesuode element */
/* h1::first-letter{
  font-size: 4rem;
  font-style: italic;
}
p::first-line{
  background-color: yellow;
}
p::selection{
  background-color: aqua;
}
#fruit li::before{
  content: "check";
}

#a::after{
  content: "Apple";
}
#fruit li::marker{
  content: "#";
  color: green;
} */


/* #greeting p{
  background-color: blue;
  display: none;
  padding: 10px;

}

#greeting:hover p{
  display: block;
} */



/* li:nth-child(3n){
  background-color: yellow;
} */

/* Hover/active */
/* a:link{
  color: hsl(180, 89%, 43%);
}
a:hover{
  color: blue;
}
a:visited{
  color: hsl(0, 87%, 50%);
} */




/* #container{
  border: 2px solid
}

#container + p{
  background-color: yellow;
} */

/* button{
  background-color: aqua;
}
button:hover{
  background-color: blueviolet;
}
button:active{
  background-color: brown;
} */


/* body{
  background-image: url(image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

} */


/* position */
/* #box1{
  background-color: blue;
  width: 200px;
  height: 200px;
  position: sticky;
}

#box2{
  background-color: rgb(157, 20, 45);
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50px;
} */





/* display */
/* *{
  box-sizing: border-box;
}

.container{
  background-color: blue;
  height: 100vh;
}

.box{
  background-color: white;
  border: 2px solid;
  padding: 20px;
  height: auto;
  width: 50%;
  float: left;
  text-align: center;
} */






/* Overflow --visible/hidden/clip/scroll/auto//* overflow-clip-margin: 2px; */*/
/* div{
  border: 2px solid;
  height: 75px;
  overflow: auto;
} */

/* Float property */
/* body{
  display: flow-root;
}
#img1{
  float: left;
}
#img{
  float: right;
} */


/* margin */
/* body{
  margin: 0px;
}

.box{
  border: 5px solid;
  font-size: 5rem;
  width: 250px;
  height: 250px;
  margin: auto;
}
#box1{
  background-color: red;
 
}
#box2{
  background-color: blue;
} */






/* text-shadow and box-shadow */
/* h1{
  text-shadow: 3px 3px 7px hsl(270, 50%, 40%), -3px -3px 7px hsl(137, 50%, 40%);
}
#box{
  width: 100px;
  height: 100px;
  background-color: aqua;
  box-shadow: 3px 3px 10px hsl(0, 92%, 29%);
} */





/* border */
/* h1{  
  border: 3px solid blue;
  /* border-style: solid;
  border-width: 3px;
  border-color: rgb(200, 0, 0); */
  /* border-radius: 20px; */
/* } */
/* p{
  border-bottom: 3px solid tomato;
  border-top: 2px dashed tomato;
  border-left: 3px dotted red;
  border-right: 2px dotted red;
}  */

/* font */
/* html {
  font-size: 16px;
}
h1{
  font-family: Roboto, Verdana, arial, Tahoma, sans-serif;
}

p{
  font-family:Poppins, "lucida console", "courier new";
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
} */




/* color rgb/hsl */
/* body{
  background-color:rgb(235, 217, 52);
}
#p1{
  color:tomato
}
#p2{
  color:rgb( 235, 64, 52)
}
#p3{
  color: #34eb6b;
}
#p4{
  color: hsl(283, 82%, 56%);
} */